.carrito-container {
  position: relative;
  display: inline-block;
}

.Carrito-boton {
  width: 40px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.Carrito-boton:hover {
  transform: scale(1.15);
}

.carrito-cantidad {
  font-family: "Raleway", serif;
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carrito-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 33%;
  background-color: white;
  box-shadow: -3px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  overflow-y: auto;
}

.carrito-sidebar-content {
  padding: 20px;
}

.carrito-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.carrito-item-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.carrito-total {
  font-size: 18px;
  margin-top: 20px;
  font-weight: bold;
}


.carrito-buttons {
  display: flex; 
  justify-content: center; 
  gap: 10px; 
  margin-top: 20px; 
  padding: 0 20px; 
  width: 100%; 
}

/* Estilo común para los botones */
.carrito-buttons button {
  border: 2px solid #000; 
  background-color: white; 
  color: black; 
  padding: 10px 20px; 
  border-radius: 5px; 
  padding: 12px 20px; 
  font-size: 16px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
  width: calc(100% - 40px);}


.carrito-buttons button:hover {
  background-color: black;
  color: white; 
}


